/* Fundo geral */

.sidebar, .content, .dropdown-item, .profile-container {
    cursor: default; /* Define o cursor padrão */
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Remove rolagem horizontal */
}

body {
    background-color: #f0f0f0;
    height: 100%;
    overflow: auto;
}

.scrollable-menu {
    max-height: 200px; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Habilita a barra de rolagem vertical */
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    gap: 20px; /* Espaço entre os cartões */
        margin-left: 200px; /* Ajuste conforme a largura da sidebar */
        width: calc(100% - 200px); /* Ajuste conforme a largura da sidebar */
    }

/* Sidebar esquerda */
.sidebar {
    background-color: #84B0B5;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
}


/* Dropdown */
.dropdown-toggle.no-border {
    border: none;
    background-color: #84B0B5; /* Cor da sidebar */
    color: #F5F5E6; /* Cor do texto */
}

.dropdown-menu {
    max-height: 200px; /* Altura máxima para o dropdown */
    overflow-y: auto; /* Habilita a rolagem vertical */
}

/* Personalização da barra de rolagem para navegadores WebKit */
.dropdown-menu::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.dropdown-menu::-webkit-scrollbar-track {
    background: #84B0B5; /* Cor do fundo da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas da trilha da barra de rolagem */
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #F5F5E6; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas do indicador da barra de rolagem */
    border: 2px solid #84B0B5; /* Espaço ao redor do indicador */
}

/* Estilo para navegadores Firefox */
.dropdown-menu {
    scrollbar-width: thin; /* Largura da barra de rolagem */
    scrollbar-color: #F5F5E6 #84B0B5; /* Cor do indicador e da trilha */
}

.dropdown-item {
    color: #F5F5E6; /* Cor do texto dos itens do menu */
}

.dropdown-item:hover {
    background-color: #6e8e8e; /* Cor de fundo ao passar o mouse sobre o item do menu */
}

.dropdown-menu.show {
    display: block; /* Garante que o menu dropdown fique visível */
}

.sidebar .btn-primary, .sidebar .btn-secondary {
    width: 80%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza os botões */
    border-radius: 20px; /* Arredonda os cantos dos botões */
}
/* Sidebar esquerda */
.sidebar .btn-primary {
    background-color: #66888b; /* Cor do botão de Login */
    border-color: #84B0B5;
    color: white;
}

.sidebar .btn-secondary {
    background-color: #BF4341; /* Cor do botão de Cadastro */
    border-color: #BF4341;
    color: white;
}

.sidebar .btn-primary:hover {
    background-color: #0056b3;
    border-color: #00408b;
}

.sidebar .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}



/* Alinhamento dos botões na parte inferior */
.sidebar .mt-auto {
    margin-top: auto; /* Empurra os botões para a parte inferior */
}
/* Conteúdo principal */
.main-content {
    margin-left: 250px; /* Ajusta para a largura da sidebar */
    padding: 20px;
    height: 100vh; /* Garante altura da tela */
    overflow-y: auto; /* Permite rolagem vertical */
    display: flex;
    flex-direction: column;
}

            
/*Filtro */

/* Card de formulário */
.form-card {
    background-color: #84B0B5;
    border-radius: 20px;
    padding: 15px;
    width: 80%;
    max-width: 450px;
}

/* Título do formulário */
.form-card .card-title {
    color: #F5F5E6;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.form-group label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

/* Inputs, textarea e select */
.form-control,
.form-select {
    background-color: #F5F5E6;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 12px; /* Espaçamento entre os inputs */
}
.form-control.aumentar,
.form-select.aumentar {
    width: 111%; /* Para que o input e o select ocupem o mesmo espaço */
    max-width: 300px; /* Ajustar largura máxima */
    border: 2px solid #84B0B5; /* Borda de 2px com a cor #84B0B5 */
    border-radius: 20px;       /* Bordas arredondadas */            /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar um efeito elevado */

}

/* Estilo do botão Início */
.no-border {
    border: none;
    background-color: #84B0B5; /* Cor da sidebar */
    color: #F5F5E6; /* Cor do texto */
    width: 100%; /* Faz com que o botão ocupe toda a largura da sidebar */
    text-align: left; /* Alinha o texto à esquerda */
    padding: 10px; /* Ajusta o padding */
    font-size: 18px; /* Aumenta o tamanho da fonte */
    text-transform: uppercase; /* Deixa o texto em maiúsculas */
    font-weight: bold; /* Deixa o texto em negrito */
}

.no-border:hover {
    background-color: #6e8e8e; /* Cor ao passar o mouse */
}

.btn-light {
    background-color: transparent; /* Remove a cor padrão do Bootstrap */
    border: none; /* Remove a borda padrão do Bootstrap */
}

.mb-2 {
    margin-bottom: 0.5rem; /* Espaço abaixo do botão */
}

.tamanho {
    font-size: 25px;
}

                    /* index */

/* Estilo para a seção passo a passo */
.steps-container {
    background-color: #84B0B5; /* Cor de fundo */
    padding: 15px;
    border-radius: 20px;
    margin: 20px auto; /* Centraliza horizontalmente */
    max-width: 1200px; /* Define uma largura máxima */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Espaçamento entre os passos */
}

.step {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    color: white;
    max-width: 250px; /* Define uma largura máxima para cada passo */
    text-align: center;
}

.step h4 {
    font-weight: bold;
}

.step p {
    font-size: 16px;
}

/* Estilo da imagem do passo */
.step-image {
    width: 150px; /* Tamanho da imagem */
    height: 150px;
    margin-bottom: 10px;
}

/* Certifique-se de que a barra lateral não sobreponha o conteúdo */
.content {
    margin-left: 250px; /* Ajuste conforme a largura da sidebar */
    padding: 20px; /* Adiciona padding para evitar que conteúdo toque a borda */
    width: calc(100% - 250px); /* Ajuste conforme a largura da sidebar */
    overflow-y: auto; /* Permite rolagem vertical */
}


/* Estilo das imagens */
#cards img {
    max-width: 100px; /* Ajuste o tamanho das imagens conforme necessário */
    height: auto;
    border-radius: 20px; /* Para combinar com o estilo arredondado */
}

/* Estilo para os cards dos passos */
#cards .col-md-3 {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 20px;
}


/* Estilo do Filtro de Busca */
#searchResults {
    display: block !important; /* Apenas para teste */
    position: absolute;
    z-index: 100;
    background-color: white; /* Para ver os itens */
}
.search-container {
    width: 90%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: -40px;
}

.search-input {
    width: 70%; /* Ajuste a largura conforme necessário */
    padding: 10px 20px;
    border: 2px solid #84B0B5; /* Cor da borda */
    background-color: #F5F5E6; /* Cor de fundo */
    border-radius: 20px; /* Borda arredondada */
    outline: none; /* Remove a borda de foco padrão */
    font-size: 16px; /* Tamanho da fonte */
    box-shadow: none; /* Remove a sombra padrão */
}

.search-input::placeholder {
    color: #BF4341; /* Cor do texto do placeholder */
}

/* Estilo dos radio buttons */
.form-check-input {
    accent-color: #84B0B5; /* Cor do radio button */
}

.form-check-label {
    font-size: 16px; /* Tamanho da fonte */
    margin-left: 5px; /* Espaçamento entre o radio button e o texto */
}

/* Estilo para os resultados da busca */
.results-container {
    width: 90%;
    margin: 20px auto; /* Centraliza os resultados */
    background-color: #F5F5E6; /* Fundo dos resultados */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
    padding: 10px; /* Espaçamento interno */
}

.result-item {
    display: block;
    padding: 10px; /* Espaçamento interno dos itens */
    text-decoration: none; /* Remove sublinhado */
    color: #333; /* Cor do texto */
    border-bottom: 1px solid #ccc; /* Linha divisória entre os itens */
}

.result-item:hover {
    background-color: #d9f7e9; /* Fundo ao passar o mouse */
}

.result-item:last-child {
    border-bottom: none; /* Remove a linha da última item */
}



/* Botão Enviar */
.btn-block {
    background-color: #BF4341;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px;
    width: 150px;  /* Diminuir a largura do botão */
}

/* Centralizar o botão */
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn-block:hover {
    background-color: #BF4341;
    border-color: #BF4341;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Garante a altura da tela */
    overflow: hidden;
}
/* Estilos para a página de lista_profiss*/

/* Contêiner principal da seção de perfil */
.w-100 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-container {
    display: flex;
    flex-direction: row; /* Alinha os elementos em linha */
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #84B0B5;
    border-radius: 20px;
    padding: 10px;
    width: 90%;
    max-width: 800px;
    margin-top: 30px;
    min-height: 200px; /* Define uma altura mínima para que o conteúdo tenha espaço */
}

.profile-photo {
    background-color: #D8D8D8;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin-left: 20%;
    flex-shrink: 0; /* Garante que a imagem não será redimensionada */
}

.profile-photo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.profile-info {
    flex-grow: 1; /* Faz com que o texto ocupe o restante do espaço */
    padding-left: 20px;
}

.profile-info p {
    margin: 0;
}

.profile-info input,
.profile-info textarea {
    background-color: #F5F5E6;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
}

.profile-description {
    background-color: #F5F5E6;
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
    max-width: 100%;
    min-height: 100px; /* Define uma altura mínima para a descrição */
}

.profile-carousel {
    background-color: #D8D8D8;
    border-radius: 20px;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.profile-carousel button {
    background-color: #BF4341;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.profile-carousel button:hover {
    background-color: #93372F;
}

.row.align-items-center-perfil {
    flex-direction: row;
    align-items: center;
}

.centrinho {
    text-align: center;
    margin: 20px 0;
    color: #BF4341;

}


/* PEFIL PERFIL*/

.row.align-items-center-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #84B0B5;
    border-radius: 20px;
    padding: 15px;
    width: 60%;
    max-width: 1000px; /* Define uma largura máxima para alinhar com a seção passo a passo */
    margin-top: 30px; /* Espaço superior */
}

.perfil-photo {
    background-color: #D8D8D8;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

.perfil-photo img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
}

.perfil-info {
    padding-left: 20px;
    text-align: left;
    flex-grow: 1;
}

.perfil-info input,
.perfil-info textarea {
    background-color: #F5F5E6;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 15px;
}

.perfil-description {
    background-color: #F5F5E6;
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-photo {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .profile-info {
        width: 100%;
    }
}


/* Ajuste da responsividade */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Ocupa toda a largura da tela em dispositivos móveis */
        height: auto; /* Ajusta a altura para o conteúdo */
        position: relative; /* Remove a posição fixa */
        overflow: hidden; /* Remove a rolagem da sidebar em telas pequenas */
    }

    .main-content {
        margin-left: 0; /* Remove a margem à esquerda para dispositivos móveis */
        width: 100%; /* Ajusta a largura do conteúdo principal */
    }
}


